#generaldiv{
	background-color: #2ac845;  
	background-size: 100%;
}
#col1{
	 width: 32%; margin-top: 20px; background-color: #00d6b2; float: left; -webkit-background-size: cover;
}
#col2{
	width: 32%; margin-top: 20px; background-color: #00d6b2; float: left; -webkit-background-size: cover;
}
#col3{
	width: 32%; margin-top: 20px; background-color: #00d6b2; float: left; -webkit-background-size: cover;
}